@using Modelo.Entidades;

@model IEnumerable<Evaluacion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Lista de Evaluaciones</h1>
<p>A continuación se presenta la lista de Evaluaciones</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Evaluaciones</h3>
        </div>
        <div class="col-sm-6">
            <a asp-controller="Evaluaciones" asp-action="Create" class="btn btn-success d-block">Agregar nueva Evaluacion</a>
        </div>
    </div>
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }

    <div class="row">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Fecha</td>
                    <td>Calificacion</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Evaluacion evaluacion in Model)
                {
                    <tr>
                        <td>@evaluacion.EvaluacionId</td>
                        <td>@evaluacion.Fecha</td>
                        <td>@evaluacion.Calificacion</td>
                        <td>
                            <a asp-controller="Evaluaciones" asp-action="Edit" asp-route-id="@evaluacion.EvaluacionId" class="btn btn-primary">Editar</a>
                            <a asp-controller="Evaluaciones" asp-action="Delete" asp-route-id="@evaluacion.EvaluacionId" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>


