@using Modelo.Entidades
@model Contrato

@{
    ViewData["Title"] = "Validar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contrato</h1>
<p>Validacion contrato de @Model.Empleado.Nombre</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-action="Validar" method="post">
                <input asp-for="ContratoId" hidden />
                <input  asp-for="EmpleadoId" hidden />

                <div class="form-group">
                    <label class="control-label">Empleado</label>
                    <input class="form-control" asp-for="Empleado.Nombre" readonly/>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <input class="form-control" asp-for="Estado" readonly/>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Validar" />
                </div>
            </form>
        </div>

        <div class="col-sm-8">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Evaluacion</td>
                        <td>Estado Implemento</td>
                        <td>Dias Laborados</td>
                        <td>Horas Laborados</td>
                        <td>Permisos laborales</td>
                        <td>Capacitaciones Asistidas</td>
                        <td>Ventas Realizadas</td>
                        <td>Ventas Efectivas</td>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Model.Empleado.Evaluacion.Calificacion</td>
                        <td>@Model.Empleado.Implemento.Estado</td>
                        <td>@Model.Empleado.Biometricos.Count()</td>
                        <td>@ViewBag.horas</td>
                        <td>@Model.Empleado.Permisos.Count()</td>
                        <td>@Model.Empleado.CapacitacionAsistencias.Count()  / @ViewBag.CapacitacionesTotales</td>
                        <td>@Model.Empleado.Ventas.Count()</td>
                        <td>@ViewBag.ventasEfectivas</td>


                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

