@using Modelo.Entidades;

@model IEnumerable<Biometrico>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Lista de Biometricos</h1>
<p>A continuación se presenta la lista de Biometricos</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Biometricos</h3>
        </div>
        <div class="col-sm-6">
            <a asp-controller="Biometricos" asp-action="Create" class="btn btn-success d-block">Agregar nuevo Biometrico</a>
        </div>
    </div>
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }

    <div class="row">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Empleado</td>
                    <td>Hora Entrada</td>
                    <td>Hora Salida</td>
                    <td>Fecha</td>
                    
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Biometrico biometrico in Model)
                {
                <tr>
                    <td>@biometrico.BiometricoId</td>
                    <td>@biometrico.Empleado.Nombre</td>
                    <td>@biometrico.Entrada.ToShortTimeString()</td>
                    <td>@biometrico.Salida.ToShortTimeString()</td>
                    <td>@biometrico.Fecha.ToShortDateString()</td>
                    <td>
                        <a asp-controller="Biometricos" asp-action="Edit" asp-route-id="@biometrico.BiometricoId" class="btn btn-primary">Editar</a>
                        <a asp-controller="Biometricos" asp-action="Delete" asp-route-id="@biometrico.BiometricoId" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>

    </div>

</div>




