@using Modelo.Entidades;

@model IEnumerable<Empleado>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Empleados</h1>
<p>A continuación se presenta la lista de Empleados</p>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Empleados</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block"
               asp-controller="Empleados" asp-action="Create">
                Agregar nuevo empleado
            </a>
        </div>
    </div>


    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
    }
    <div class="row">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Cedula</td>
                    <td>Nombre</td>
                    <td>Correo</td>
                    <td>Celular</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Empleado empleado in Model)
                {
                    <tr>
                        <td>@empleado.EmpleadoId</td>
                        <td>@empleado.Cedula</td>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Correo</td>
                        <td>@empleado.Celular</td>
                        <td>
                            <a asp-controller="Empleados" asp-action="Edit" asp-route-id="@empleado.EmpleadoId" class="btn btn-primary">Editar</a>
                            <a asp-controller="Empleados" asp-action="Delete" asp-route-id="@empleado.EmpleadoId" class="btn btn-danger">Eliminar</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>


